# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Static files generated during deployment
staticfiles/